
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <p><a href="/">HOME</a></p>
    <p><a href="/Home/About"></a></p>

    <div class="top">
         
    </div>
</body>
</html>
